<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="uk.co.edwardquixote.Zalego.AMFirstProject">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity"/>


        <!-- [START]: The Activity component in the Email App (e.g. G-Mail) that is capable of handling Send Email Intent Actions    -->
        <activity android:name=".MainActivity">

            <!-- The first Intent Filter for Intents with Action "SEND"    -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


            <!-- The second Intent Filter for Intents with Action "SENDTO"    -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


            <!-- The second Intent Filter for Intents with Action "SEND_MULTIPLE"    -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <!-- [END]: The Activity component in the Email App (e.g. G-Mail) that is capable of handling Send Email Intent Actions    -->

    </application>

</manifest>